.Content {
    grid-area: c;
    background-color: rgb(110, 79, 100);
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 22px;
    padding:20px;
  }

  .Contentpng {
    width: 70%;
    height: 300px;
  }