.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.Header {
  grid-area: h;
  background-color: rgb(43, 43, 43);
}

.Header img {
    width: 50px;
    margin-top: 4px;
}

.nav {
  grid-area: n;
  background-color: rgb(110, 79, 100);
  display: flex ;
  flex-direction: column;
  padding:20px;
  height: 500px;
}

.navbar {
  grid-area: n;
  background-color: #7d5ab1;
  
}

a{
  color: white;
  font-size: 22px;
}


.item a.active{
  color:rgb(140, 210, 142);
}

.Content {
  grid-area: c;
  background-color: rgb(110, 79, 100);
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 22px;
  padding:20px;
}

.Contentpng {
  width: 70%;
  height: 300px;
}
